.hidden {
    display: none;
}

.separator {
    height: 2px;
    width: 100%;
    background: #d1d1d1;
    box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.3);
    border-radius: 1px;
    margin-block: 1px;
}

.icon-btn {
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10px;
}

.info-btn {
    font-size: 16px;
    color: #b42929;
    margin-right: auto;
}

.btn-animation-icon {
    transition: transform 0.1s;
}

.btn-animation-icon:hover {
    box-shadow: 1px 1px 0px #999999;
}

.btn-animation-icon:active {
    box-shadow: none;
    transform: translate(0px, 0px);
}

button.menu-button {
    background-image: url(../images/floppy-disk-solid.svg);
}

button.open-list {
    background-image: url(../images/list-solid.svg);
}

button.space-btn {
    text-align: center;
    width: 240px;
    border: 5px solid #e0e0e0;
    border-style: ridge;
    background-color: inherit;
    border-radius: 2px;
    padding: 3px 36px;
    margin: auto;
    font-size: 14px;
    color: #333333;
    transition: transform 0.1s;
    background-image: url(../images/copy-regular.svg);
    background-repeat: no-repeat;
    background-size: 17px;
    background-position-y: center;
    background-position-x: 8px;
}

button.space-btn:hover {
    box-shadow: 1px 1px 0px #999999;
}
  
button.space-btn:active {
    box-shadow: none;
    transform: translate(0px, 0px);
}
  