.hidden {
    display: none;
}

.separator {
    height: 2px;
    width: 100%;
    background: #d1d1d1;
    box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.3);
    border-radius: 1px;
    margin-block: 5px;
}

.info-btn {
    font-size: 20px;
    color: #b42929;
}
