html {
    padding: 0;
    margin: 0;
}

body {
    color: white;
    background-color: #e0e0e0;
    margin: 0;
    padding: 10px;
    border: 16px solid #601616;
    border-style: ridge;
}

button {
    border: none;
    background-color: inherit;
    color: #FFF;
    border-radius: 5px;
    margin-block: 5px;
    margin-inline-start: 5px;
    font-size: 14px;
    font-weight: bolder;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    transform: translateY(-1px);
}

button:active {
    background-color: #ff4400;
    transform: translateY(0);
}

button#copy-btn {
    background-image: url(../images/copy-regular.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 18px;
}

.option-panel {
    display: flex;
    gap: 18px;
    align-items: center;
    justify-content: space-between;
}

.retro-input {
    font-size: 14px;
    color: #333;
    padding-inline: 2px;
    padding-block: 0px;
    width: 68px;
    outline: none;
    transition: all 0.3s ease;
    border: none;
    border-bottom: 2px solid #601616;
    border-bottom-style: ridge;
    background-color: inherit;
}

.retro-input:focus {
    border-bottom-color: #ff4400;
}

.option-panel__input-menu {
    display: flex;
    gap: 2px;
    align-items: center;
}

.option-panel__input-menu label {
    color: #ff4400;
    font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
    word-spacing: -4px;
    font-weight: bolder;
}

.separator {
    height: 5px;
    width: 100%;
    background: #d1d1d1;
    box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.3);
    border-radius: 1px;
    margin-block: 12px;
}
